
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
    scroll-padding: 10rem;
}

#offcanvasNavbar{
  background-color: #1168FF;
 }

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #1168FF;
    font-family: 'Quicksand', sans-serif;
    max-height: 50px;
}

.offcanvas-title{
  font-weight: bold;
}

.navbar-nav{
  font-size: 15px;
  font-weight: 500;
}

body {
    font-family: "Montserrat", sans-serif;
}

#headerlogo {
    max-width: 230px;
    position: relative;
    top: 17px;
  }

#headerlogotext {
  max-height: 150px;
  position: relative;
  top: -62px;
}

@media (max-width: 991px) {
  .navbar-toggler{
    top: -63px;
    position: relative;
  }
}

  @media (max-width: 991px) {
    #headerlogo {
      display: none;
    }
  }

  @media (min-width: 992px) {
    #headerlogotext {
      display: none;
    }
    #footerlogo{
      display: none;
    }
  }

  @media (max-width: 595px) {
    #headerlogo {
      max-width: 200px;
    }
  }

  @media (max-width: 280px) {
    #headerlogo {
      max-width: 190px;
    }
  }

footer {
    background-color: black;
    color: white;
}

a.text {
    color: white;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

    
.dropdown:hover .dropdown-menu {         
    display: block;         
    margin-top: 0;  /* remove the gap so it doesn't close */  
}  

.split {
    display: flex;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

/* .split > * {
    flex-basis: 30%;
} */

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.carousel {
    margin-bottom: 4rem;
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.carousel-item {
    height: 32rem;
}
.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


/* reservations page */

#reservation {
    padding: 50px 0;
  }
    
  #reservation .form-control {
    margin-bottom: 20px;
  }

  #success-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }

  div.focus-container {
    padding:5px;
    width:330px;
    display:block;
    position:relative;
    text-align:center;
    cursor:pointer;
    transition:0.15s;
    margin:0 auto;
  }
  
  div.focus-container::before {
    width:100%;
    height:100%;
    top:0;
    left:0;
    border-top:3px solid #1168FF;
    border-left:3px solid #1168FF;
  }
  
  div.focus-container::after {
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    border-bottom:3px solid #1168FF;
    border-right:3px solid #1168FF;
  }
  
  div.focus-container::before, div.focus-container::after {
    content:'';
    transition:1s;
    position:absolute;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-color:lightblue;
  }
  
  @keyframes example {
      0% {
        width:0%;
        height:0px;
        filter: blur(0px);
    }
      100% {
        width:100%;
        height:100%;
        filter: blur(0px);
    }
  }

/* shark */

#sharky {
    padding-top: 100px;
    width: 100vw;
    height: 50vw;
    overflow: hidden;
    background: linear-gradient(#adf, #bef 20%, #9de 0)
  }



  @keyframes biting {
    0%, 30%, 100% { clip-path: polygon(-10% -20%, 0% -50%, 100% -50%, 100% 60%, 80% 60%, 100% 60%, 100% 125%, -10% 125%);}
    15% { clip-path: polygon(-10% -20%, 0% -50%, 100% -50%, 100% 60%, 80% 50%, 100% 100%, 100% 125%, -10% 125%); }
  }
  
  @keyframes swim {
    0% {
      transform: translate(0, 0) scaleX(1);
    }
    50% {
      transform: translate(58vw, 0) scaleX(1);
    }
    50.1% {
      transform: translate(58vw, 0) scaleX(-1);
    }
    100% {
      transform: translate(0, 0) scaleX(-1);
    }
  }
  
  .shark {
    width: 34vw;
    height: 14vw;
    background-image:
      radial-gradient(circle at 83% 14%, white 1%, transparent 0),
      radial-gradient(circle at 81% 16%, black 4%, transparent 0),
      radial-gradient(at 54% 0%, gray 60%, transparent 0);
    clip-path: polygon(-10% -50%, 100% -50%, 100% 60%, 80% 60%, 100% 60%, 100% 125%, -10% 125%);
    animation: biting 5.25s infinite, swim 13s infinite linear;
  }

  .shark::before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% / 80% 100% 50% 120%;
    width: 50%;
    height: 150%;
    top: -35%;
    box-shadow: 6vw -0.5vw 0 -0.75vw gray
  }
  
  .shark::after {
    content: "";
    display: block;
    position: absolute;
    color: rgba(0,0,0,0.5);
    width: 8vw;
    height: 10vw;
    border-radius: 50%;
    transform: rotate(-20deg);
    top: 0vw;
    left: 22vw;
    box-shadow: 
      inset 1vw 0vw 0 -0.75vw,
      -1.5vw 0 0 -0.5vw gray,
      -2vw 0 0 -0.75vw,
      -26vw -17vw 0 1vw #9de,
      -22vw -14vw gray;
  }
  

  /* menu page */

  .banner {
    background: url('img/menubannerv2.png') no-repeat fixed 50% 0;
    height: 22em;
    position: relative;
    overflow: hidden;
    width: 100%;
    background-size: cover;
  }
  
  .banner-text {
    color: #fff;
    font-size: 1.25em;
    left: 0;
    position: absolute;
    top: 33%;
    text-align: center;
    text-shadow: 0 0px 2px rgba(0, 0, 0, .5);
    width: 100%; 
  }

  #appetizer{
    background: url('img/appetizer.jpg') no-repeat fixed 70% 0;
    background-size: cover;
    --bs-accordion-btn-bg: url('img/appetizer.jpg');
    --bs-accordion-active-bg: #cfe2ff00;
    --bs-accordion-border-color: none;
  }

  #maincourse{
    background: url('img/maincoursev2.jpg') no-repeat fixed 70% 0;
    background-size: cover;
    --bs-accordion-btn-bg: url('img/maincoursev2.jpg');
    --bs-accordion-active-bg: #cfe2ff00;
    --bs-accordion-border-color: none;
  }

  #dessert{
    background: url('img/desserts.jpg') no-repeat fixed 70% 0;
    background-size: cover;
    --bs-accordion-btn-bg: url('img/desserts.jpg');
    --bs-accordion-active-bg: #cfe2ff00;
    --bs-accordion-border-color: none;
  }

  #drinks{
    background: url('img/drinksv2.jpg') no-repeat fixed 70% 0;
    background-size: cover;
    --bs-accordion-btn-bg: url('img/drinksv2.jpg');
    --bs-accordion-active-bg: #cfe2ff00;
    --bs-accordion-border-color: none;
  }

  #listItem{
    font-size: 20px;
    background-color: #ffffffa3;
    padding-bottom: 10px;
  }

  #listItemDesc{
    font-size: 12px;
    font-style: italic;
  }

  .accordion {
    --bs-accordion-border-radius: 0;
  }

  .accordion-button{
    --bs-accordion-btn-color: #ffffff;
    --bs-accordion-active-color: #ffffff;
    height: 100px;
  }

  .accordion-button::after {
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-caret-down-fill' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");
  }

  .accordion-button:not(.collapsed)::after {
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-caret-down-fill' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");
  }


/* home page */

.carousel {
  margin-bottom: 0px;
}

#carou1 {
  background: url(img/carousel1.jpg) center;
  background-size: cover;
}

#carou2 {
  background: url(img/carousel2.jpg) center;
  background-size: cover;
}

#carou3 {
  background: url(img/carousel3.jpg) center;
  background-size: cover;
}

.carousel-caption {
  background-color: #ffffffa3;
  color: black;

}

.display-5 {
  text-shadow: 2px 2px 5px gray;
}

.lead {
  box-shadow: 10px 10px 10px 5px #b3e6ff;
  border-radius: 25px;
  padding: 1rem;
}


/*
.hero {
  /* Photo by mnm.all on Unsplash */
  /* background: url('https://images.unsplash.com/photo-1518176258769-f227c798150e') center; */
  /* background-size: cover;
  padding: 4rem 2rem; */
  /* grid styles
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  align-items: center;
}

.hero > * {
  color: white;
}

.hero > h1 {
  font-size: 4rem;
  padding-bottom: 1rem;
}

.hero > article > p {
  font-size: 1.5rem;
  font-weight: 200;
}

.hero > article > a {
  padding: 1rem;
  margin-top: .75rem;
} */





  